http:
  services:
    sso-gateway:
      loadBalancer:
        servers:
          - url: "{{ sso_gateway_internal_base_url }}"

  middlewares:

    homelab-sso-users-auth:
      forwardAuth:
        address: "{{ sso_gateway_internal_base_url }}/oauth2/auth?allowed_groups=homelab-users"
        trustForwardHeader: true
        authResponseHeaders:
          - "X-Auth-Request-User"
          - "X-Auth-Request-Email"
          - "Authorization"
    
    homelab-sso-admin-auth:
      forwardAuth:
        address: "{{ sso_gateway_internal_base_url }}/oauth2/auth?allowed_groups=homelab-admins"
        trustForwardHeader: true
        authResponseHeaders:
          - "X-Auth-Request-User"
          - "X-Auth-Request-Email"
          - "Authorization"

    homelab-sso-errors:
      errors:
        status:
          - "401"
        service: "sso-gateway"
        query: "/oauth2/sign_in?rd={url}"

    homelab-sso-users:
      chain:
        middlewares:
          - "homelab-sso-errors"
          - "homelab-sso-users-auth"

    homelab-sso-admin:
      chain:
        middlewares:
          - "homelab-sso-errors"
          - "homelab-sso-admin-auth"