services:
  esphome:
    container_name: esphome
    image: esphome/esphome:latest
    restart: unless-stopped
    ports:
      -  "{{ server_bind_ip }}:{{ app_port_esphome }}:6052"
    environment:
      - ESPHOME_DASHBOARD_USE_PING=true      
    volumes:
      - "{{ esphome_config_dir }}:/config"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - {{ docker_network }}

networks:
  {{ docker_network }}:
    external: true
