---
# tasks file for mqtt

- name: Create mqtt user
  ansible.builtin.user:
    name: mqtt
    uid: 1883
    create_home: no
    home: "{{ mqtt_app_dir }}"

- name: "Ensure mqtt app directory exists"
  ansible.builtin.file:
    path: "{{ mqtt_app_dir }}"
    state: directory
    mode: "0755"
    owner: mqtt
    group: mqtt
    access_time: preserve
    modification_time: preserve

- name: "Ensure mqtt data directory exists"
  ansible.builtin.file:
    path: "{{ mqtt_data_dir }}"
    state: directory
    mode: "0755"
    owner: mqtt
    group: mqtt
    access_time: preserve
    modification_time: preserve

- name: Create mqtt config directory
  ansible.builtin.file:
    path: "{{ mqtt_config_dir }}"
    state: directory
    mode: "0755"
    owner: mqtt
    group: mqtt
    access_time: preserve
    modification_time: preserve

- name: Create mqtt data directory
  ansible.builtin.file:
    path: "{{ mqtt_data_dir }}"
    state: directory
    mode: "0755"
    owner: mqtt
    group: mqtt
    access_time: preserve
    modification_time: preserve

- name: Create mqtt log directory
  ansible.builtin.file:
    path: "{{ mqtt_log_dir }}"
    state: directory
    mode: "0755"
    owner: mqtt
    group: mqtt
    access_time: preserve
    modification_time: preserve

- name: copy config files
  template:
    src: templates/{{ item }}
    dest: "{{ mqtt_config_dir }}"
  loop:
    - mosquitto.conf

- name: "Render docker-compose.yml"
  ansible.builtin.template:
    src: "docker-compose.yml.j2"
    dest: "{{ mqtt_app_dir }}/docker-compose.yml"
    mode: "0644"

- name: "Start stack"
  community.docker.docker_compose_v2:
    project_src: "{{ mqtt_app_dir }}"
    project_name: "{{ mqtt_stack_name }}"
    state: present
