---
# tasks file for esphome

- name: "Ensure esphome app directory exists"
  ansible.builtin.file:
    path: "{{ esphome_app_dir }}"
    state: directory
    mode: "0755"

- name: "Ensure esphome data directory exists"
  ansible.builtin.file:
    path: "{{ esphome_data_dir }}"
    state: directory
    mode: "0755"

- name: Create esphome config directory
  ansible.builtin.file:
    path: "{{ esphome_config_dir }}"
    state: directory
    mode: "0755"

- name: "Render docker-compose.yml"
  ansible.builtin.template:
    src: "docker-compose.yml.j2"
    dest: "{{ esphome_app_dir }}/docker-compose.yml"
    mode: "0644"

- name: "Start stack"
  community.docker.docker_compose_v2:
    project_src: "{{ esphome_app_dir }}"
    project_name: "{{ esphome_stack_name }}"
    state: present
