---
# tasks file for nextcloud

- name: "Ensure nextcloud app directory exists"
  ansible.builtin.file:
    path: "{{ nextcloud_app_dir }}"
    state: directory
    mode: "0755"

- name: "Ensure nextcloud data directory exists"
  ansible.builtin.file:
    path: "{{ nextcloud_data_dir }}"
    state: directory
    mode: "0755"

- name: Create nextcloud container
  community.docker.docker_container:
    name: nextcloud
    image: lscr.io/linuxserver/nextcloud:latest
    state: started
    restart_policy: unless-stopped
    networks:
      - name: "{{ docker_network }}"
    pull: true
    ports:
      - "{{ server_bind_ip }}:{{ app_port_nextcloud }}:80"
    env:
      PUID: "{{ puid }}"
      PGID: "{{ pgid }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ nextcloud_app_dir }}/config:/config"
      - "{{ nextcloud_data_dir }}/data:/data"
