---
services:
  nexus:
    image: "{{ nexus_image }}"
    container_name: "{{ nexus_container_name }}"
    restart: "{{ nexus_restart_policy }}"
    ports:
      - "{{ nexus_bind_ip }}:{{ nexus_host_port }}:{{ nexus_container_port }}"
{% if nexus_docker_repo_enabled | bool %}
      - "{{ nexus_bind_ip }}:{{ nexus_docker_repo_host_port }}:{{ nexus_docker_repo_container_port }}"
{% endif %}
    volumes:
      - "{{ nexus_data_dir }}:/nexus-data"
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
{% for volume in nexus_extra_volumes %}
      - "{{ volume }}"
{% endfor %}
{% if nexus_extra_environment | length > 0 %}
    environment:
{% for env_var in nexus_extra_environment %}
      - "{{ env_var }}"
{% endfor %}
{% endif %}
    networks:
      - {{ nexus_docker_network }}

networks:
  {{ nexus_docker_network }}:
    external: true