---
services:
  gitea:
    image: "{{ gitea_image }}"
    container_name: "{{ gitea_container_name }}"
    restart: "{{ gitea_restart_policy }}"
    environment:
      USER_UID: "{{ gitea_user_uid }}"
      USER_GID: "{{ gitea_user_gid }}"
      GITEA__server__ROOT_URL: "{{ gitea_root_url }}"
{% for key, value in gitea_environment.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
    volumes:
      - "{{ gitea_data_dir }}:/data"
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "{{ gitea_bind_ip }}:{{ gitea_host_port }}:{{ gitea_container_port }}"
      - "{{ gitea_bind_ip }}:{{ gitea_ssh_host_port }}:{{ gitea_ssh_container_port }}"
    networks:
      - {{ gitea_docker_network }}

networks:
  {{ gitea_docker_network }}:
    external: true
  