---
# tasks file for nexus

- name: Create nexus group
  ansible.builtin.group:
    name: nexus
    gid: 200

- name: Create nexus user
  ansible.builtin.user:
    name: nexus
    comment: Sonatype Nexus
    uid: 200
    group: nexus

- name: "Ensure nexus app directory exists"
  ansible.builtin.file:
    path: "{{ nexus_app_dir }}"
    state: directory
    mode: "0755"

- name: "Ensure nexus data directory exists"
  ansible.builtin.file:
    path: "{{ nexus_data_dir }}"
    state: directory
    owner: nexus
    group: nexus
    mode: "0755"
    access_time: preserve
    modification_time: preserve

- name: "Render docker-compose.yml"
  ansible.builtin.template:
    src: "docker-compose.yml.j2"
    dest: "{{ nexus_app_dir }}/docker-compose.yml"
    mode: "0644"

- name: "Start docker container"
  community.docker.docker_compose_v2:
    project_src: "{{ nexus_app_dir }}"
    project_name: "{{ nexus_stack_name }}"
    state: present
