---
# tasks file for wikijs

- name: "Ensure stack directory exists"
  ansible.builtin.file:
    path: "{{ wikijs_app_dir }}"
    state: directory
    mode: "0755"

- name: Create wikijs data directory
  ansible.builtin.file:
    path: "{{ wikijs_data_dir }}"
    state: directory
    mode: "0755"

- name: Create wikijs ssh directory
  ansible.builtin.file:
    path: "{{ wikijs_ssh_dir }}"
    state: directory
    mode: "0755"

- name: Generate SSH key
  openssh_keypair:
    path: "{{ wikijs_ssh_dir }}/{{ wikijs_ssh_key_filename }}"
    comment: "wikijs@{{ inventory_hostname }}"
    owner: sysadm
    group: sysadm
    type: rsa
    size: 4096
    state: present
    force: no
  register: generated_key

- name: "Render docker-compose.yml"
  ansible.builtin.template:
    src: "docker-compose.yml.j2"
    dest: "{{ wikijs_app_dir }}/docker-compose.yml"
    mode: "0644"

- name: "Start stack"
  community.docker.docker_compose_v2:
    project_src: "{{ wikijs_app_dir }}"
    project_name: "{{ wikijs_stack_name }}"
    state: present
