{
  "realm": "{{ keycloak_realm }}",
  "enabled": true,
  "displayName": "HomeLab",
  "sslRequired": "external",
  "registrationAllowed": false,
  "loginWithEmailAllowed": true,

  "clients": [
  ]
}
