services:

  plantuml-server:
    image: plantuml/plantuml-server:jetty
    ports:
      - "{{ server_bind_ip }}:8190:8080"
    networks:
      - {{ docker_network }}

networks:
  {{ docker_network }}:
    external: true
