---
services:
  plantuml:
    image: "{{ plantuml_image }}"
    container_name: "{{ plantuml_container_name }}"
    restart: "{{ plantuml_restart_policy }}"
    ports:
      - "{{ plantuml_bind_ip }}:{{ plantuml_host_port }}:{{ plantuml_container_port }}"
    networks:
      - {{ plantuml_docker_network }}

networks:
  {{ plantuml_docker_network }}:
    external: true