services:
  traefik:
    image: "{{ traefik_image }}"
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true

    ports:
      - "{{ traefik_bind_ip }}:80:80"
      - "{{ traefik_bind_ip }}:443:443"

    networks:
      - "{{ docker_network }}"

    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - "{{ traefik_data_dir }}/acme.json:/acme.json"
      - "{{ traefik_data_dir }}/traefik.yml:/traefik.yml:ro"
      - "{{ traefik_dynamic_dir }}:{{ traefik_dynamic_mount }}:ro"

    environment:
      CF_DNS_API_TOKEN: "{{ vault_cloudflare_dns_token }}"

    labels:
      traefik.enable: "true"

      traefik.http.routers.traefik.entrypoints: "http"
      traefik.http.routers.traefik.rule: "Host(`traefik_{{ inventory_hostname_short }}.{{ domain_name }}`)"

      traefik.http.middlewares.traefik-auth.basicauth.users: "{{ traefik_basic_auth_hash }}"
      traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme: "https"
      traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto: "https"

      traefik.http.routers.traefik.middlewares: "traefik-https-redirect"

      traefik.http.routers.traefik-secure.entrypoints: "https"
      traefik.http.routers.traefik-secure.rule: "Host(`traefik_{{ inventory_hostname_short }}.{{ domain_name }}`)"
      traefik.http.routers.traefik-secure.middlewares: "traefik-auth"
      traefik.http.routers.traefik-secure.tls: "true"
      traefik.http.routers.traefik-secure.tls.certresolver: "cloudflare"
      traefik.http.routers.traefik-secure.tls.domains[0].main: "{{ domain_name }}"
      traefik.http.routers.traefik-secure.tls.domains[0].sans: "*.{{ domain_name }}"
      traefik.http.routers.traefik-secure.service: "api@internal"

networks:
  {{ docker_network }}:
    external: true
