services:
  db:
    image: {{ wikijs_postgres_image }}
    container_name: {{ wikijs_postgres_container_name }}
    environment:
      POSTGRES_DB: {{ wikijs_postgres_db }}
      POSTGRES_PASSWORD: {{ wikijs_postgres_password }}
      POSTGRES_USER: {{ wikijs_postgres_user }}
    logging:
      driver: "none"
    restart: unless-stopped
    volumes:
      - wikijs-db-data:/var/lib/postgresql/data
    networks:
      - {{ docker_network }}

  wikijs:
    image: ghcr.io/requarks/wiki:2
    container_name: wikijs
    depends_on:
      - db
    environment:
      DB_TYPE: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: {{ wikijs_postgres_user }}
      DB_PASS: {{ wikijs_postgres_password }}
      DB_NAME: {{ wikijs_postgres_db }}
    restart: unless-stopped
    ports:
      - "{{ server_bind_ip }}:{{ app_port_wikijs }}:3000"
    volumes:
      - "{{ wikijs_ssh_dir }}:/wiki/ssh:ro"
    networks:
      - {{ docker_network }}

networks:
  {{ docker_network }}:
    external: true

volumes:
  wikijs-db-data:
