---
services:
  wikijs:
    image: "{{ wikijs_image }}"
    container_name: "{{ wikijs_container_name }}"
    environment:
      DB_TYPE: sqlite
      DB_FILEPATH: "{{ wikijs_sqlite_filepath }}"
    restart: "{{ wikijs_restart_policy }}"
    ports:
      - "{{ wikijs_bind_ip }}:{{ wikijs_host_port }}:{{ wikijs_container_port }}"
    volumes:
      - "{{ wikijs_ssh_dir }}:/wiki/ssh:ro"
      - "{{ wikijs_data_dir }}:/wiki/data"
    networks:
      - {{ wikijs_docker_network }}

networks:
  {{ wikijs_docker_network }}:
    external: true